.content {
  padding-bottom: 30px;
}

.link {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.urls:link {
  text-decoration: none;
  color: white;
}
.urls:hover {
  color: black;
}
